<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="connectionStringName"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
        AttachDbFilename='C:\home\denys\work\KPI\3rd year\2nd term\declarative_programming\dp_labs\lab02a\data\DB_lab02a_notes.mdf';
        Integrated Security=True;
        Connect Timeout=30"/>
  </connectionStrings>
</configuration>